{% extends 'base.html.twig' %}

{% block title %}Hello OperationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Time to play with numbers🧮</h1>
</div>

{{ form(form) }}
<div>
    <h3>{{result}}</h1>
</div>
<div>
    <h3>{{resultsList}}</h1>
</div>


{% endblock %}
